@use "colors";
@use "fonts";

body {
  padding: 2rem;
  background: url("../images/bg-mobile.svg") no-repeat, colors.$violet;
}

h1 {
  font-family: fonts.$headings;
}

p, button {
  font-family: fonts.$body;
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 4rem 4rem 0 4rem;
    background: url("../images/bg-desktop.svg") no-repeat, colors.$violet;
  }
}