.mockups-img {
  margin-top: 3.3rem;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 768px) {
  
  .mockups-img {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {

  .mockups-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 1.3rem 0 0 0;
    width: 97%;
  }
}