.mockups {
  margin-top: 3.3rem;

  .mockups-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .mockups {
    .mockups-img {
      margin: 0 auto;
      width: 80%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .mockups {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .mockups-img {
      margin: 1.3rem 0 0 0;
      width: 97%;
    }
  }
}